*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Times New Roman", "Georgia", serif;
  background: linear-gradient(-45deg, #9B111E, #FF6347, #8B0000, #DC143C);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.calculator-grid {
  display: grid;
  margin: 2rem auto;
  width: max-content;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border: 3px solid black;
  border-radius: 12px;
  overflow: hidden;
}


.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  font-family: 'Cormorant Garamond', Garamond, serif;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', Garamond, serif;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
  font-family: 'Cormorant Garamond', Garamond, serif;
}
